<?xml version="1.0" encoding="UTF-8"?>
<!--suppress XmlUnboundNsPrefix -->
<!--Logback official documentation:
        The syntax of logback configuration files is extremely flexible.
        As such, it is not possible to specify the allowed syntax with a DTD file or an XML schema.-->
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-5level [%thread] %logger{0}: %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.dir}/content-service/content-service.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${logging.dir}/content-service/content-service-%i-log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>
        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d %-5level [%thread] %logger{0}: %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="EMAIL" class="org.reactome.server.service.utils.ScheduledSMTPAppender">

        <smtpHost>${mail.host}</smtpHost>
        <smtpPort>${mail.port}</smtpPort>
        <to>${mail.to}</to>
        <from>${mail.from}</from>
        <subject>${mail.subject}</subject>

        <maxMessages>5</maxMessages>
        <timeInterval>1</timeInterval>

        <layout class="ch.qos.logback.classic.html.HTMLLayout"/>
        <asynchronousSending>false</asynchronousSending>
    </appender>

    <appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
        <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
            <driverClass>org.sqlite.JDBC</driverClass>
            <url>jdbc:sqlite:${logging.database}</url>
        </connectionSource>
    </appender>

    <!--Async appender, will add 10 ms per request if not used-->
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="DB" />
        <includeCallerData>true</includeCallerData>
    </appender>

    <logger name="infoLogger" level="INFO"  >
        <appender-ref ref="ASYNC"/>
    </logger>

    <logger name="errorLogger" level="ERROR">
        <appender-ref ref="EMAIL" />
    </logger>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>
</configuration>